/** FLIP BOX CSS */
:root {
  --flipbox-Title-Color: black;
  --flipbox-Back-Bg-Color: #101010;
  --flipbox-Col-2-Container-Transition-Width: 750px;
  --flipbox-Col-3-Container-Transition-Width: 900px;
}

.flipBoxFront {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.flipBoxFront h1,
h2,
p {
  margin: 0;
  padding: 20px;
}

.flipBoxBack {
  position: absolute;
  background-color: var(--flipbox-Back-Bg-Color);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 0%;
  top: 0%;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}

.flipBoxBack h1,
h2,
p {
  margin: 0;
  padding: 20px;
}

.flipBoxBack button {
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: var(--flipbox-Back-Bg-Color);
  color: white;
  transition: color 0.2s, background-color 0.2s;
  cursor: pointer;
}

.flipBoxBack button:hover {
  color: var(--flipbox-Back-Bg-Color);
  background-color: white;
}

.flipBoxContainer-col-1:hover .flipBoxBack {
  height: 100%;
}

.flipBoxContainer-col-2:hover .flipBoxBack {
  height: 100%;
}

.flipBoxContainer-col-3:hover .flipBoxBack {
  height: 100%;
}

.flipBoxContainer-col-1 {
  background-color: lightgray;
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
}

/** FlipBoxes meant to be used with multiple columns need
to be wrapped in the container elements. */

.col2Container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.col2Container > * {
  flex-basis: calc(
    calc(var(--flipbox-Col-2-Container-Transition-Width) - 100%) * 999
  );
  flex-grow: 1;
}

.flipBoxContainer-col-2 {
  background-color: lightgray;
  position: relative;
  vertical-align: top;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
}

.col3Container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.col3Container > * {
  flex-basis: calc(
    calc(var(--flipbox-Col-3-Container-Transition-Width) - 100%) * 999
  );
  flex-grow: 1;
}

.flipBoxContainer-col-3 {
  background-color: lightgray;
  position: relative;
  vertical-align: top;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
}

.flipBoxContainer-col-1 h2,
.flipBoxContainer-col-2 h2,
.flipBoxContainer-col-3 h2 {
  color: var(--flipbox-Title-Color);
  margin: 0;
  padding: 10px 0 5px 0;
}

.flipBoxContainer-col-1 img,
.flipBoxContainer-col-2 img,
.flipBoxContainer-col-3 img {
  max-width: 100%;
  text-align: center;
}
/** END OF FLIP BOX CSS */
